html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

h1 img {
    width: 90%;
}

.spinning {
    animation: spin-360 infinite 4s linear;
}

@keyframes spin-360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.game-score-info {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    padding: 0;
}

.game-score-info table {
    width: 100%;
    margin-top: 40px;
    padding: 0;
}

.game-score-info table th {
    padding: 10px;
    background-color: #333;
    color: white;
    margin: 4px;
}

.game-score-info table td {
    padding: 10px;
    background-color: #222;
    text-align: center;
    margin: 4px;
}

button {
    background-color: #fff;
    border-radius: 8px;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    width: 80%;
    margin: 20px 20px 20px;
}

button:hover {
    background-color: #ffe200;
}
